<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File cloud</title>
    <link rel="stylesheet" href="assets/css/index.css">
</head>
<body>
<header class="header">
    <div class="header-content responsive-wrapper">
        <div class="header-logo">
            <a href="#">
                <h3>File cloud</h3>
            </a>
        </div>
        <div class="header-navigation">
            <nav class="header-navigation-links">
                <a href="#"> Регистрация </a>
                <a href="#"> Вход в систему </a>
                <a href="#"> Загрузка файлов </a>
            </nav>
        </div>
        <a href="#" class="button">
            <i class="ph-list-bold"></i>
            <span>Menu</span>
        </a>
    </div>
</header>
<main class="main">
    <div class="responsive-wrapper">
        <h1>Загрузить файлы</h1>
        <div class="content">
            <div class="content-panel content-panel--success">
                <form class="success card">
                    <div class="file-loader">
                        <label>Перетащите файлы сюда
                            <input type="file" multiple>
                        </label>
                    </div>
                    <div class="file-table">
                        <div class="file-table__row">
                            <div class="file-table__cell">ananasik.jpg</div>
                        </div>
                        <div class="file-table__row">
                            <div class="file-table__cell">kokos.jpg</div>
                        </div>
                        <div class="file-table__row">
                            <div class="file-table__cell">kokosjs.jpg</div>
                        </div>
                    </div>
                    <button class="base-button">Загрузить файлы</button>
                </form>
            </div>
            <div class="content-main">
                <div class="file-table">
                    <div class="file-table__row">
                        <div class="file-table__cell">Имя файла</div>
                        <div class="file-table__cell">Загружен</div>
                        <div class="file-table__cell"></div>
                    </div>
                    <div class="file-table__row">
                        <div class="file-table__cell">ananasik.jpg</div>
                        <div class="file-table__cell">Да</div>
                        <div class="file-table__cell">
                            <button class="icon-button">
                                <img src="assets/img/download.png" alt="icon">
                            </button>
                        </div>
                    </div>
                    <div class="file-table__row">
                        <div class="file-table__cell">kokos.jpg</div>
                        <div class="file-table__cell">Нет</div>
                        <div class="file-table__cell">

                        </div>
                    </div>
                    <div class="file-table__row">
                        <div class="file-table__cell">kokosjs.jpg</div>
                        <div class="file-table__cell">Нет</div>
                        <div class="file-table__cell">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>